body {
    background-image: url("/IMAGENS/bolotas.jpeg");
    background-size: 1500px 1500px;
}

.register_screen {
    background-color: rgba(221, 97, 14, 0.7);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 15px;
    color: rgb(244, 246, 248);
    box-sizing:content-box;
    text-size-adjust: 50px;
  }