body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: repeating-linear-gradient(90deg, rgb(83, 199, 5), rgb(243, 168, 6));
    width: 100vw;
    height: 100vh;

}

.reg {
    font-size: 20px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#searchInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
#ProjTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#ProjTable th, #ProjTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#ProjTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#ProjTable tr.header, #ProjTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}