body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:repeating-linear-gradient(90deg, rgb(83, 199, 5),rgb(243, 168, 6));
    width: 100vw;
    height: 100vh;

}

header{
    display:-webkit-inline-flex;
    align-items: center;
    padding-left: 40vw;
    width: 100vw;
    height: 75vh;
    
}

header div{
    display:-webkit-inline-box;
    height: 35vh;
    display: ;
}

/*LOGIN*/



.login_register_screen {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
    color: whitesmoke;
}

.login_register_screen h2{
    font-size: 20px;
    text-align: center;
}

.login_register_screen h2 a{
    color: whitesmoke;
}

input {
    border-radius: 2px;
    border: none;
    width: 100%;
    font-size: 20px;
}

button {
    background-color:rgb(0, 104, 240);
    border-radius:6px;
    color: whitesmoke;
    width: 100%;
    font-size: 20px;
}

button:hover {
    background-color: rgb(0, 155, 207);
}

/*BEAVER*/

.beaver{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: auto;
    width: 220px;
    height: 100%;    
  }
  
  .beaverlogo {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin:auto

  }
  
  .beaver h2 {
    text-align:inherit;
  }

  /*FOOTER*/

.footer{
    color: whitesmoke;
    background-color: #24262b;
    align-items: center;
    box-sizing:border-box;
    width: 100vw;
    padding-bottom: 0vh;
    
}

.container{
    width: 100vw;
    margin:auto;
}

.row{
    display:-webkit-flex;
    width: 100vw;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.ul_footer{
    width: 50%;
    padding-left: px;
}

li{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(0,155,207);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 5px;
    display: flex;
}

.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 3100;
    color: #bbbbbb;
    display: inline-block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links{
    display: inline-flex;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

p{
    margin-left: 1%;
}

    /*RESPOSIVIDADE*/


