* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #F6F2D4;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #22577E;
    overflow-x: hidden;
}

header {
    padding: 30px 8px 30px 16px;
    font-size: 20px;
    color: #ffffff;
    background-color: #5584AC;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: .4s;
}

.logout {
    position: fixed;
    left: 0;
    bottom: 0;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #5584AC;
    padding-left: 30px;
}

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 3% 5%;
}

.button-update{
    padding: 1% 3%;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-update:hover{
    padding: 1% 3%;
    border-radius: 5px;
    text-decoration: none;
    background-color: #5584AC;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Responsividade */

.toggle-menu {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    display: none;
}

.sidebar .fa-times {
    position: absolute;
    top: 10px;
    right: 55px;
    margin-left: 50px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.sidebar .fa-times:hover {
    color: #5584AC;
}




/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media (max-width: 700px) {
    header {
        font-size: 15px;
    }

    .sidebar a {
        font-size: 15px;
    }

    .sidebar {
        width: 130px;
        position: absolute;
        top: 0;
        left: -200px;
        transition: 1s;
        z-index: 3;
    }

    .sidebar .fa-times {
        display: block;
    }

    .sidebar header {
        padding-top: 50px;
    }

    .toggle-menu {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        z-index: 2;
    }
}
#searchInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#TypologyTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#TypologyTable th, #TypologyTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#TypologyTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#TypologyTable tr.header, #TypologyTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#ProjTable2 {
    border-collapse: collapse; /* Collapse borders */
    width: 40%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#ProjTable2 th, #ProjTable2 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#ProjTable2 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#ProjTable2 tr.header, #ProjTable2 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}